@import "tailwindcss";

:root {
  --red: #BF0426;
  --black: #0A0E17;
}

@theme {
  --color-red-dalowa: #ff190a;
  --color-black-dalowa: #0A0E17;
}

.vertical-mail {
  @media (width >= 48rem){
    writing-mode: sideways-lr;
  }
}