@import "tailwindcss";

:root {
  --red: #BF0426;
  --black: #0A0E17;
}

@theme {
  --color-red-dalowa: #ff190a;
  --color-black-dalowa: #0A0E17;
  --color-white-dalowa: #f2f2f2;
}

.vertical-mail {
  @media (width >= 48rem){
    writing-mode: sideways-lr;
  }
}

.texto-background {
  background: linear-gradient(135deg, #ff190a 0%, #ff190a 10%, #ff190a 20%, #ff190a 30%, #ff190a 40%, #ff5e54 50%, #ff190a 60%, #ff190a 70%, #ff190a 80%, #ff190a 90%, #ff190a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradient-shift 5s ease-in-out infinite;
}

.glowing-bg {
  /* background: linear-gradient(180deg, #ff190a 0%, #e61709 10%, #cc1408 20%, #b31207 30%, #990f06 40%, #800d05 50%, #990f06 60%, #b31207 70%, #cc1408 80%, #e61709 90%, #ff190a 100%); */
  background: linear-gradient(135deg, #ff190a 0%, #ff190a 10%, #ff190a 20%, #ff190a 30%, #ff190a 40%, #ff5e54 50%, #ff190a 60%, #ff190a 70%, #ff190a 80%, #ff190a 90%, #ff190a 100%);
  background-size: 300% 300%;
  animation: gradient-shift 5s ease-in-out infinite;
}

@keyframes gradient-shift {
  0%, { 
    background-position: 0% 50%; 
  }
  25% { 
    background-position: 50% 0%; 
  }
  50% { 
    background-position: 100% 50%; 
  }
  75% { 
    background-position: 200% 0%; 
  }
  100% { 
    background-position: 400% 100%; 
  }
}

.animate-scale-in {
  animation: scale-in 0.8s ease-out;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.85);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.websiterelevant {
  background: linear-gradient(135deg, #ff190a 0%, #800d05 50%, #ff190a 100%);
  background-size: 400% 400%;
  animation: gradient-loading 2s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

.websiterelevant.loaded {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/johnmayta-web.jpg') center/cover no-repeat;
  animation: none;
  @media (width >= 64rem){
    background: 
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('/johnmayta-web.jpg') center/cover no-repeat;
  }
}

@keyframes gradient-loading {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-opacity-in {
  animation: opacity-in 0.8s ease-out forwards;
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}